/*------------------------------------*\
  #CUSTOM-PROPERTIES
\*------------------------------------*/

:root {
  /* Font */
  --font-primary: "PP Neue Montreal", sans-serif;

  /* Colors */

  --color-white: #fff;
  --color-black: #000;
  --color-black-transparent: #0000005b;
  --color-grey: #7f7f7f;
  --color-grey-light: #e8e5e480;
  --color-grey-light-dark: #b7b7b7b9;

  /* Size */
  --fz-14: 0.875rem;
  --fz-36: 2.25rem;
}

/*------------------------------------*\
        #RESET
      \*------------------------------------*/

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

img,
video {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/*------------------------------------*\
        #COMPONENTS
      \*------------------------------------*/

/* --------------------------------------- HEADER - NAV (CENTER) ------------------------------------ */

header {
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  z-index: 999;
  background-color: var(--color-grey-light);
  backdrop-filter: blur(16px);
  border-radius: 6.25rem;
  width: 17.5rem;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;
}

.nav__link {
  font-size: var(--fz-14);
  width: 5.5rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-black);
}

.nav__link--active {
  background-color: var(--color-white);
  border-radius: 6.25rem;
}

@media (768px < width) {
  header {
    padding: 1rem 2.5rem;
  }
  nav {
    width: 18.75rem;
    margin: 1rem 0;
  }
}

/*------------------------------------*\
      #UTILITIES
      \*------------------------------------*/
/***************\
      #Mobile - 320px - XS
\***************/

/* GRID LOGOS */

.grid__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 10rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 5rem 1.25rem;
}

.grid__items__item {
  width: 60%;
}

/****************\
      #Tablet - 640px - S
      \****************/

@media (640px < width) {
  .grid__items__item {
    max-width: 120px;
  }
}

/******************\
      #Tablet L - 768px - M
      \******************/

@media (768px < width) {
  .grid__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 10rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 7rem 2.5rem;
  }
}

/******************\
      #Desktop - 1024px - L
      \******************/

@media (1024px < width) {
}

/*********************\
      #Desktop XL - 1280px - XL
      \*********************/

@media (1280px < width) {
}

/*************\
      #4K - 1536px - XXL
      \*************/

@media (1600px < width) {
}

/*------------------------------------*\
      #SITE-STYLES
\*------------------------------------*/

/***************\
      #Mobile - 320px - XS
\***************/

@keyframes animate__item {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
  }
}

.animation__items--animate {
  animation-name: animate__item;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.animation__items {
  opacity: 0;
}

/* ABOUT */

.about__text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -0.2px;
}

.about__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 3.75rem 1.25rem 1.25rem;
}

/* SECTION EXPERIENCE */

.clients__section,
.experience__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 5rem 2.5rem 2.5rem;
}

.clients__section {
  padding: 5rem 1rem 2.5rem;
}

.clients__text,
.experience__text {
  font-size: 1.87rem;
  font-weight: 500;
}

.experience__items {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 0.75rem;
  row-gap: 4rem;
}

.experience__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.experience__items__item p {
  color: var(--color-grey);
  font-size: var(--fz-14);
  text-align: center;
}

.experience__items__item h4 {
  font-size: 1.12rem;
  font-weight: 500;
}

.experience__items__item h2 {
  margin-top: 0.75rem;
}

/* SECTION-PARAGRAPH */

.paragraph {
  margin: 8rem 0;
}

.paragraph p {
  font-size: 1.87rem;
  font-weight: 500;
  text-align: center;
}

.paragraph p span a {
  color: var(--color-grey);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 0.25rem;
  margin-bottom: 3rem;
  padding: 0 12rem;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: var(--fz-14);
}

.footer__copyright img {
  width: 30px;
}

.footer__copyright p::before {
  content: url("../assets/images/copyright-regular.svg");
  display: inline-block;
  width: 0.7rem;
  margin: 0.2rem;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__social a {
  text-decoration: none;
  color: var(--color-black);
  font-size: var(--fz-14);
}

.images__profile {
  padding: 1.25rem;
}

.images__profiles__img {
  border-radius: 10px;
}

.images__profiles__img--tablet {
  display: none;
}

.profile__title {
  font-size: var(--fz-36);
  text-align: center;
  padding: 17rem 0 12rem;
  font-weight: 500;
}

.text__items {
  display: inline;
  font-weight: normal;
  font-size: var(--fz-14);
  background-color: var(--color-grey-light);
  padding: 0.5rem 0.75rem;
  border-radius: 6.25rem;
}
/****************\
      #Tablet - 640px - S
      \****************/

@media (640px < width) {
}

/******************\
      #Tablet L - 768px - M
      \******************/

@media (767px < width) {
  /* ABOUT */

  .about__text {
    width: 600px;
    font-size: 2.37rem;
    line-height: normal;
  }

  .about__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 8.75rem 2.5rem;
  }

  /* EXPERINECE */

  .clients__text,
  .experience__text {
    font-size: 2.37rem;
  }

  .experience__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .experience__items__item h4 {
    font-size: 1.12rem;
    font-weight: 500;
  }

  .footer__social a:hover {
    color: var(--color-grey-light-dark);
  }

  .images__profile {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
  }

  .images__profiles__img {
    min-width: 21.8rem;
    max-width: 40.6rem;
    max-height: 32.5rem;
    object-position: center;
  }

  .images__profiles__img--tablet {
    display: block;
    object-fit: cover;
  }

  .paragraph p {
    font-size: 2.37rem;
    font-weight: 500;
    text-align: center;
  }

  .paragraph p span a:hover {
    color: var(--color-grey-light-dark);
  }

  .profile__title {
    font-size: 3rem;
  }
}

/******************\
      #Desktop - 1024px - L
      \******************/

@media (1024px < width) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    margin-bottom: 3rem;
  }

  .footer__copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: var(--fz-14);
  }
}

/*********************\
      #Desktop XL - 1280px - XL
      \*********************/

@media (1279px < width) {
  /* ABOUT */
  .about__text {
    width: 700px;
  }

  /* EXPERIENCE */

  .experience__items__item h4 {
    font-size: 1.37rem;
    font-weight: 500;
  }

  .experience__items {
    padding: 2.5rem;
    max-width: 1400px;
  }

  .profile__title {
    font-size: 4.5rem;
    padding: 21rem 0 17rem;
  }
}

/*************\
      #4K - 1536px - XXL
      \*************/

@media (1600px < width) {
}
